.moduleById {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.moduleGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
}
