@font-face {
  font-family: 'SF UI Display';
  src: url('../src/fonts/sf-ui-display/sf-ui-display-light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../src/fonts/sf-ui-display/sf-ui-display-medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../src/fonts/sf-ui-display/sf-ui-display-semibold.otf');
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #282828;
  font-family: 'SF UI Display';
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  min-height: 100vh;
}
.App {
  padding: 100px 0 50px 0;
  width: 700px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #515151;
}
::-webkit-scrollbar-thumb {
  background-color: #232325;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #151515;
}
