.modulesItem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #232325;
  border-radius: 20px;
  min-height: 180px;

  opacity: 0;
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}
.moduleTitle {
  margin-top: 8px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.modulesItem.appear {
  opacity: 1;
  transform: translateY(0);
}
.moduleButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.moduleHeader {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #ffffff;
}
.moduleHeader span {
  display: inline-flex;
  padding: 6px 10px;
  background-color: #303031;
  border-radius: 4px;
}
.moduleAvailability {
  position: absolute;
  top: 20px;
  right: -5px;
  padding: 6px 10px;
  border-radius: 4px;

  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #ffffff;
  background-color: #303031;
}
.moduleAvailability.available {
  background-color: #2e4ff6;
}
.moduleAvailability.completed {
  background-color: #59a818;
}
